<div class="container">
  
    <section class="panel panel-default">
  <div class="panel-heading"> 
  <h3 class="panel-title">Create Product</h3> 
  </div> 
  <div class="panel-body">
    
  <form class="form-horizontal" role="form" [formGroup]="addProductForm" (ngSubmit)="handleAddProduct()" >
     <div class="form-group">
      <label for="name" class="col-sm-3 control-label">Title</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="title" id="title" [ngClass]="{'has-error': addProductForm.get('title').touched && addProductForm.get('title').invalid}" placeholder="">
        <li *ngIf="addProductForm.get('title').invalid && addProductForm.get('title').touched" class="text text-danger">Title Is Required</li>
    </div>
      
    </div> <!-- form-group // -->
    <div class="form-group">
      <label for="category" class="col-sm-3 control-label">Author</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="author" id="author" [ngClass]="{'has-error': addProductForm.get('author').touched && addProductForm.get('author').invalid}" placeholder="">
        <li *ngIf="addProductForm.get('author').value.length == 0 && addProductForm.get('author').touched" class="text text-danger">Author Is Required</li>
        <!-- <li *ngIf="addProductForm.get('category').errors.pattern && addProductForm.get('category').touched" class="text text-danger">Category Is Number Only</li> -->

      </div>
    </div> <!-- form-group // -->
    <div class="form-group">
      <label for="price" class="col-sm-3 control-label">Pulisher</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="publisher" id="publisher" [ngClass]="{'has-error': addProductForm.get('publisher').touched && addProductForm.get('publisher').invalid}" placeholder="">
        <li *ngIf="addProductForm.get('publisher').invalid && addProductForm.get('publisher').touched" class="text text-danger">Publisher Is Required</li>

      </div>
    </div> <!-- form-group // -->

    <div class="form-group">
        <label for="price" class="col-sm-3 control-label">Final Price</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="finalPrice" id="finalPrice" [ngClass]="{'has-error': addProductForm.get('finalPrice').touched && addProductForm.get('finalPrice').invalid}" placeholder="">
          <li *ngIf="addProductForm.get('finalPrice').invalid && addProductForm.get('finalPrice').touched" class="text text-danger">Price Is Required</li>
  
        </div>
      </div> <!-- form-group // -->

      <div class="form-group">
        <label for="price" class="col-sm-3 control-label">Regular Price</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="regularPrice" id="regularPrice" [ngClass]="{'has-error': addProductForm.get('regularPrice').touched && addProductForm.get('regularPrice').invalid}" placeholder="">
          <li *ngIf="addProductForm.get('regularPrice').invalid && addProductForm.get('regularPrice').touched" class="text text-danger">Price Is Required</li>
  
        </div>
      </div> <!-- form-group // -->

    <div class="form-group">
        <label for="image" class="col-sm-3 control-label">Image URL</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="imageURL" id="imageURL" placeholder="URL">
          <li *ngIf="addProductForm.get('imageURL').value.length == 0 && addProductForm.get('imageURL').touched" class="text text-danger">URL Is Required</li>
          <!-- <li *ngIf="f.imageURL.errors.pattern" class="text text-danger">URL Is Not Right Format</li> -->
        </div>
      </div> <!-- form-group // -->
      

  

    
    <hr>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary" [disabled]="!addProductForm.valid">Submit</button>
        <button type="button" class="btn btn-primary" (click)="resetForm()">Reset form</button>
    
      </div>
    </div> <!-- form-group // -->
  </form>
    
  </div><!-- panel-body // -->
  </section><!-- panel// -->
  
    
  </div> <!-- container// -->
