<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div class="row" >
            <div class="col-6 offset-3">
                
                    <form id="login-form" class="form" [formGroup]="loginForm" (ngSubmit)="onLoginForm()">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group ">
                            <label for="username" class="text-info">Email:</label><br>
                            <input type="text" formControlName="email" [ngClass]="{'has-error': loginForm.get('email').invalid && loginForm.get('email').touched}" id="email" class="form-control">
                            <li *ngIf="loginForm.get('email').value.length == 0 && loginForm.get('email').touched" class="text text-danger">Email Is Required</li>
                            <li *ngIf="loginForm.get('email').errors?.email && loginForm.get('email').touched" class="text text-danger">Email Is Not Right Format</li>
                       </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" formControlName="password" [ngClass]="{'has-error': loginForm.get('password').invalid && loginForm.get('password').touched}" id="password" class="form-control">
                            <li *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="text text-danger">Password Is Required</li>
                         </div>
  
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </form>
             
             </div>
          </div>
    </div>
 </div>
